*~
\#*#
*.DS_Store
*.class
.com.apple.timemachine.supported
.import-temp/

nbproject/private/
nbbuild/
nbdist/
main/IDEs/netbeans/nbproject/private/
build/
dist/
server/classes/
main/webapp/WEB-INF/classes/
main/webapp/WEB-INF/lib/
main/tests/server/classes/
main/tests/server/lib/
main/test-output/
appengine/classes/
tools/
*/module/MOD-INF/classes/
*/module/MOD-INF/lib/
broker/appengine/module/MOD-INF/classes/
broker/core/module/MOD-INF/classes/
broker/core/WEB-INF/lib/
broker/core/data/
broker/core/test-output/
tmp/
test-output/
extensions/odrext/target/
target/
/velocity.log
*/.svn/*
